.form-container {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.checkbox-container {
  margin: 0.5rem 0 1.5rem 0;
}

.button-group {
  display: flex;
  gap: 1rem;
}