<app-header />

<main class="form-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ isEditMode() ? 'Editar Livro' : 'Cadastrar Novo Livro' }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="book-form">
            
            <mat-form-field appearance="outline">
              <mat-label>Nome do Livro</mat-label>
              <input matInput formControlName="title">
              @if (bookForm.get('title')?.hasError('maxlength')) {
                <mat-error>Máximo de 50 caracteres permitidos.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Autor</mat-label>
              <input matInput formControlName="author">
              @if (bookForm.get('author')?.hasError('maxlength')) {
                <mat-error>Máximo de 50 caracteres permitidos.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select formControlName="category">
                <mat-option value="">Selecione...</mat-option>
                <mat-option value="Ficção_científica">Ficção científica</mat-option>
                <mat-option value="Romance">Romance</mat-option>
                <mat-option value="Autoconhecimento">Autoconhecimento</mat-option>
                <mat-option value="Terror">Terror</mat-option>
                <mat-option value="Fantasia">Fantasia</mat-option>
                <mat-option value="Distopia">Distopia</mat-option>
                <mat-option value="Educativo">Educativo</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Total de Páginas</mat-label>
              <input matInput type="number" formControlName="totalPages">
              @if (bookForm.get('totalPages')?.hasError('min')) {
                <mat-error>Deve ser maior que 0.</mat-error>
              }
            </mat-form-field>

            <div class="checkbox-container">
              <mat-checkbox formControlName="isActive" color="primary">Livro Ativo</mat-checkbox>
            </div>

            <div class="button-group">
              <button mat-raised-button color="primary" type="submit" [disabled]="bookForm.invalid || isSaving()">
                {{ isSaving() ? 'Salvando...' : 'Salvar' }}
              </button>
              <button mat-stroked-button type="button" (click)="cancel()">
                Cancelar
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </main>