<div class="login-container">
    <h2>Login - Crud de livros</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Email:</label>
            <input type="email" formControlName="email">
        </div>

        <div>
            <label>Senha:</label>
            <input type="password" formControlName="password">
        </div>

        <button type="submit" [disabled]="loginForm.invalid || isLoading()">
            {{ isLoading() ? 'Carregando...' : 'Entrar' }}
        </button>
    </form>
</div>